@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*
body.sb-sidenav-toggled #root #wrapper #sidebar-wrapper {
  margin-left: 0;
}
*/

#wrapper {
  overflow-x: hidden;
}
#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  /*
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
  */
}
